<ul class="navbar">
  <li>
    <a class="nav-item nav-link" routerLink="/viewer">viewer</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-a">test a</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-b">test b</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-c">test c</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-d">test d</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-e">test e</a>
  </li>
  <li>
    <a class="nav-item nav-link" routerLink="/test-complex">test complex</a>
  </li>
</ul>
<div style="border:1px gray dotted;margin:5px">

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>