<!-- <ko-stage #stage [config]="configStage">
  <ko-layer #layer>
    <ko-text #text [config]="configText"></ko-text>
    <ko-circle [config]="configCircle" (click)="handleClick($event)"></ko-circle>
    <ko-shape [config]="configShape" (click)="handleClick($event)"></ko-shape>
    <ko-regular-polygon [config]="configRegularPolygon" (mouseout)="handleMouseOut($event)"
      (mousemove)="handleMouseMove($event)"></ko-regular-polygon>
  </ko-layer>
</ko-stage>

<router-outlet></router-outlet> -->
<!-- <ko-stage #stage [config]="configStage">
  <ko-layer #layer>
     <ko-text #text [config]="configText"></ko-text> 
    <ko-circle [config]="configCircle" (click)="handleClick($event)"></ko-circle>
    <ko-shape [config]="configShape" (click)="handleClick($event)"></ko-shape>
    <ko-regular-polygon 
      [config]="configRegularPolygon"
      (mouseout)="handleMouseOut($event)"
      (mousemove)="handleMouseMove($event)"
    ></ko-regular-polygon>
  </ko-layer>
</ko-stage>  -->