<div class="p-d-flex p-flex-column">
    <!-- <div>
        <button (click)="addToShapeLayer(shapeType.rectangle)" title="auto add"> ShapeLayer: rectangle </button>
        <button (click)="addToShapeLayer(shapeType.pentagon)" title="auto add"> ShapeLayer: Pentagon </button>
        <button (click)="addToShapeLayer(shapeType.circle)" title="auto add"> ShapeLayer: Circle </button>
    </div>
    <div>
        <button (click)="addShape({type:shapeType.rectangle}, $event)"> ShapeLayer: rectangle </button>
        <button (click)="addShape({type:shapeType.pentagon}, $event)"> ShapeLayer: Pentagon </button>
        <button (click)="addShape({type:shapeType.circle}, $event)"> ShapeLayer: Circle </button>
    </div>
    <div>
        <button (click)="addComplex({type:complexType.complex}, $event)"> <B>complexTool:</B> rectangle </button>
        <button (click)="addToSegmentAndTemplateLayer(shapeType.rectangle)">SegmentLayer: rectangle</button>
    </div> -->
    <div class="container-panel p-d-flex p-flex-row">
        <div #container class="main-panel" id="container"></div>
         

    </div>